In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
housing = pd.read_csv("datasets/housing.csv")

In [3]:
housing["income_cat"] = pd.cut(housing['median_income'],
                               bins=[0., 1.5, 3.0, 4.5, 6., np.inf],
                               labels=[1, 2, 3, 4, 5])

In [4]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state = 42)
for train_ind, test_ind in split.split(housing, housing['income_cat']):
    strat_train_set = housing.loc[train_ind]
    strat_test_set = housing.loc[test_ind]

In [5]:
strat_train_set.loc[:1]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
17606,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042,286600.0,<1H OCEAN,2
18632,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214,340600.0,<1H OCEAN,5
14650,-117.20,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621,196900.0,NEAR OCEAN,2
3230,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839,46300.0,INLAND,2
3555,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347,254500.0,<1H OCEAN,3
19480,-120.97,37.66,24.0,2930.0,588.0,1448.0,570.0,3.5395,127900.0,INLAND,3
8879,-118.50,34.04,52.0,2233.0,317.0,769.0,277.0,8.3839,500001.0,<1H OCEAN,5
13685,-117.24,34.15,26.0,2041.0,293.0,936.0,375.0,6.0000,140200.0,INLAND,4
4937,-118.26,33.99,47.0,1865.0,465.0,1916.0,438.0,1.8242,95000.0,<1H OCEAN,2
4861,-118.28,34.02,29.0,515.0,229.0,2690.0,217.0,0.4999,500001.0,<1H OCEAN,1
16365,-121.31,38.02,24.0,4157.0,951.0,2734.0,879.0,2.7981,92100.0,INLAND,2
19684,-121.62,39.14,41.0,2183.0,559.0,1202.0,506.0,1.6902,61500.0,INLAND,2
19234,-122.69,38.51,18.0,3364.0,501.0,1442.0,506.0,6.6854,313000.0,<1H OCEAN,5
13956,-117.06,34.17,21.0,2520.0,582.0,416.0,151.0,2.7120,89000.0,INLAND,2
2390,-119.46,36.91,12.0,2980.0,495.0,1184.0,429.0,3.9141,123900.0,INLAND,3
11176,-117.96,33.83,30.0,2838.0,649.0,1758.0,593.0,3.3831,197400.0,<1H OCEAN,3
15614,-122.41,37.81,25.0,1178.0,545.0,592.0,441.0,3.6728,500001.0,NEAR BAY,3
2953,-119.02,35.35,42.0,1239.0,251.0,776.0,272.0,1.9830,63300.0,INLAND,2
13209,-117.72,34.05,8.0,1841.0,409.0,1243.0,394.0,4.0614,107000.0,INLAND,3
6569,-118.15,34.20,46.0,1505.0,261.0,857.0,269.0,4.5000,184200.0,INLAND,3
5825,-118.30,34.19,14.0,3615.0,913.0,1924.0,852.0,3.5083,280900.0,<1H OCEAN,3
18086,-122.05,37.31,25.0,4111.0,538.0,1585.0,568.0,9.2298,500001.0,<1H OCEAN,5
16718,-120.66,35.49,17.0,4422.0,945.0,2307.0,885.0,2.8285,171300.0,<1H OCEAN,2
13600,-117.25,34.16,37.0,1709.0,278.0,744.0,274.0,3.7188,116600.0,INLAND,3
13989,-117.19,34.94,31.0,2034.0,444.0,1097.0,367.0,2.1522,60800.0,INLAND,2
15168,-117.06,33.02,24.0,830.0,190.0,279.0,196.0,1.9176,121100.0,<1H OCEAN,2
6747,-118.07,34.11,41.0,2869.0,563.0,1627.0,533.0,5.0736,270700.0,<1H OCEAN,4
7398,-118.24,33.96,44.0,1338.0,366.0,1765.0,388.0,1.7778,109900.0,<1H OCEAN,2
5562,-118.28,33.91,41.0,620.0,133.0,642.0,162.0,2.6546,159600.0,<1H OCEAN,2
16121,-122.46,37.79,52.0,2059.0,416.0,999.0,402.0,3.7419,500001.0,NEAR BAY,3
...,...,...,...,...,...,...,...,...,...,...,...
9311,-122.55,37.98,31.0,3807.0,828.0,1581.0,795.0,3.2930,337500.0,NEAR BAY,3
5004,-118.32,34.02,48.0,1949.0,308.0,823.0,340.0,3.3906,189700.0,<1H OCEAN,3
1966,-120.59,38.76,21.0,1728.0,417.0,731.0,334.0,1.7266,94700.0,INLAND,2
11090,-117.89,33.82,24.0,1268.0,210.0,700.0,224.0,5.0605,216200.0,<1H OCEAN,4
3593,-118.48,34.24,32.0,2621.0,412.0,1285.0,414.0,6.6537,267600.0,<1H OCEAN,5
19836,-119.40,36.53,28.0,2201.0,429.0,1524.0,412.0,2.7500,65000.0,INLAND,2
18492,-121.58,37.02,27.0,2303.0,471.0,1447.0,467.0,3.2019,203600.0,INLAND,3
2820,-119.02,35.41,31.0,2348.0,701.0,1413.0,611.0,1.3222,51400.0,INLAND,1
20422,-118.90,34.14,35.0,1503.0,263.0,576.0,216.0,5.1457,500001.0,<1H OCEAN,4
19335,-122.85,38.52,13.0,4808.0,848.0,2568.0,762.0,3.6583,183200.0,<1H OCEAN,3
11101,-117.87,33.82,26.0,2435.0,346.0,1088.0,350.0,5.9397,249400.0,<1H OCEAN,4
4247,-118.34,34.13,45.0,2375.0,417.0,751.0,410.0,6.6739,500001.0,<1H OCEAN,5
13399,-117.42,34.13,4.0,11587.0,1796.0,5804.0,1705.0,4.8283,141900.0,INLAND,4
17969,-121.97,37.32,19.0,4620.0,1404.0,2672.0,1308.0,3.6990,237500.0,<1H OCEAN,3
10549,-117.77,33.70,4.0,2446.0,622.0,1315.0,560.0,3.7147,137500.0,<1H OCEAN,3
2827,-119.09,35.43,28.0,254.0,35.0,118.0,37.0,4.8571,237500.0,INLAND,4
20495,-118.71,34.29,21.0,2751.0,493.0,1432.0,483.0,5.2067,221200.0,<1H OCEAN,4
5146,-118.26,33.96,39.0,1255.0,323.0,902.0,327.0,1.5812,94000.0,<1H OCEAN,2
560,-122.24,37.76,52.0,1846.0,471.0,827.0,446.0,2.6833,240900.0,NEAR BAY,2
16364,-121.31,38.00,19.0,908.0,158.0,306.0,154.0,3.9792,131900.0,INLAND,3
6710,-118.16,34.14,27.0,1551.0,254.0,816.0,233.0,8.2435,500001.0,<1H OCEAN,5
7370,-118.22,33.97,43.0,381.0,67.0,259.0,60.0,3.0313,166100.0,<1H OCEAN,3
9403,-122.53,37.88,25.0,4921.0,866.0,1913.0,834.0,6.8742,413100.0,NEAR BAY,5
18398,-121.77,37.22,16.0,3992.0,540.0,2097.0,555.0,6.7287,299300.0,<1H OCEAN,5
6291,-117.88,34.01,16.0,6756.0,1332.0,4429.0,1299.0,4.7589,178200.0,<1H OCEAN,4
10289,-117.83,33.88,18.0,2112.0,340.0,1048.0,315.0,6.9308,231700.0,<1H OCEAN,5
471,-122.28,37.86,52.0,1659.0,367.0,788.0,346.0,2.8214,164300.0,NEAR BAY,2
9661,-120.87,41.54,21.0,1091.0,208.0,660.0,188.0,2.2321,34600.0,INLAND,2
5503,-118.43,33.99,45.0,1899.0,461.0,1260.0,415.0,2.6667,320000.0,<1H OCEAN,2
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,5

In [6]:
strat_train_set.iloc[:1]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
17606,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042,286600.0,<1H OCEAN,2

In [7]:
housing['income_cat'].value_counts()

3    7236
2    6581
4    3639
5    2362
1     822
Name: income_cat, dtype: int64

In [8]:
housing = strat_train_set.drop('median_house_value', axis=1)
housing_labels = strat_train_set['median_house_value'].copy()

In [9]:
housing.dropna(subset=['total_bedrooms'])
housing.isna().values.any()

True

In [10]:
housing = housing.dropna(subset=['total_bedrooms'])
housing.isna().values.any()

False

In [11]:
housing.drop('total_bedrooms', axis=1).head()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,ocean_proximity,income_cat
17606,-121.89,37.29,38.0,1568.0,710.0,339.0,2.7042,<1H OCEAN,2
18632,-121.93,37.05,14.0,679.0,306.0,113.0,6.4214,<1H OCEAN,5
14650,-117.20,32.77,31.0,1952.0,936.0,462.0,2.8621,NEAR OCEAN,2
3230,-119.61,36.31,25.0,1847.0,1460.0,353.0,1.8839,INLAND,2
3555,-118.59,34.23,17.0,6592.0,4459.0,1463.0,3.0347,<1H OCEAN,3

In [12]:
# housing

In [13]:
housing = housing.drop('total_bedrooms', axis=1)

In [14]:
#housing

In [15]:
#housing.drop('latitude', axis=1, inplace=True) # permanent

###### ROW DROP

In [16]:
housing.drop(17606, axis=0).head()
#

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,ocean_proximity,income_cat
18632,-121.93,37.05,14.0,679.0,306.0,113.0,6.4214,<1H OCEAN,5
14650,-117.20,32.77,31.0,1952.0,936.0,462.0,2.8621,NEAR OCEAN,2
3230,-119.61,36.31,25.0,1847.0,1460.0,353.0,1.8839,INLAND,2
3555,-118.59,34.23,17.0,6592.0,4459.0,1463.0,3.0347,<1H OCEAN,3
19480,-120.97,37.66,24.0,2930.0,1448.0,570.0,3.5395,INLAND,3

In [17]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,ocean_proximity,income_cat
17606,-121.89,37.29,38.0,1568.0,710.0,339.0,2.7042,<1H OCEAN,2
18632,-121.93,37.05,14.0,679.0,306.0,113.0,6.4214,<1H OCEAN,5
14650,-117.20,32.77,31.0,1952.0,936.0,462.0,2.8621,NEAR OCEAN,2
3230,-119.61,36.31,25.0,1847.0,1460.0,353.0,1.8839,INLAND,2
3555,-118.59,34.23,17.0,6592.0,4459.0,1463.0,3.0347,<1H OCEAN,3

In [18]:
housing[['ocean_proximity']].head()

      ocean_proximity
17606       <1H OCEAN
18632       <1H OCEAN
14650      NEAR OCEAN
3230           INLAND
3555        <1H OCEAN

In [19]:
housing['ocean_proximity'].head()

17606     <1H OCEAN
18632     <1H OCEAN
14650    NEAR OCEAN
3230         INLAND
3555      <1H OCEAN
Name: ocean_proximity, dtype: object

In [20]:
#  magic
list(housing)

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'population',
 'households',
 'median_income',
 'ocean_proximity',
 'income_cat']

In [21]:
from sklearn.base import BaseEstimator, TransformerMixin

# column index
rooms_ix, bedrooms_ix, population_ix, households_ix = 3, 4, 5, 6

class CombinedAttributesAdder(BaseEstimator, TransformerMixin):
    def __init__(self, add_bedrooms_per_room = True):
        self.add_bedrooms_per_room = add_bedrooms_per_room
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        rooms_per_household = X[:, rooms_ix] / X[:, households_ix]
        population_per_household = X[:, population_ix] / X[:, households_ix]
        if self.add_bedrooms_per_room:
            bedrooms_per_room = X[:, bedrooms_ix] / X[:, rooms_ix]
            return np.c_[X, rooms_per_household, population_per_household, bedrooms_per_room]
        else:
            np.c_[X, rooms_per_household, population_per_household]
            
attr_adder = CombinedAttributesAdder(add_bedrooms_per_room = False)
housing_extra_attributes = attr_adder.transform(housing.values)

In [22]:
housing_num = housing.drop('ocean_proximity', axis=1)

In [23]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="median")),
    ('attribs_adder', CombinedAttributesAdder()),
    ('std_scaler', StandardScaler()),
])

housing_num_tr = num_pipeline.fit_transform(housing_num)

In [24]:
housing_num_tr[1]

array([-1.17628181,  0.65973958, -1.16381502, -0.90820078, -0.99760977,
       -1.02270615,  1.33604608,  1.88915259, -1.08481476, -1.01261878,
       -0.05395421])

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

num_attribs = list(housing_num)
cat_attribs = ['ocean_proximity']

full_pipeline = ColumnTransformer([
    ('num', num_pipeline, num_attribs),
    ('cat', OneHotEncoder(), cat_attribs),
])

housing_prepared = full_pipeline.fit_transform(housing)

In [26]:
housing_prepared[1]

array([-1.17628181,  0.65973958, -1.16381502, -0.90820078, -0.99760977,
       -1.02270615,  1.33604608,  1.88915259, -1.08481476, -1.01261878,
       -0.05395421,  1.        ,  0.        ,  0.        ,  0.        ,
        0.        ])

In [30]:
cat_encoder = full_pipeline.named_transformers_["cat"]
cat_encoder.toarray()

AttributeError: 'OneHotEncoder' object has no attribute 'toarray'